__pycache__
.idea
*.swp
src/tts_cache
src/data
env
src/settings.ini
src/test.py
src/test.mp3
src/modules.json
src/phrases.json
src/update.json
src/resources/models/
src/resources/samples/
src/plugins/*
src/porcupine/
src/mdmterminal.log
src/lib/_snowboydetect.so
