SpeechRecognition==3.8.1
gtts_token==1.1.3
gTTS==2.1.1
pyaudio>=0.2.11
python-mpd2>=1.0.0
requests[socks]>=2.19.1
urllib3>=1.23
wikipedia>=1.4.0
pyyaml>=5.1
websocket-client>=0.54.0
git+https://github.com/Aculeasis/PyLMS.git
python-socketio[client]>=4.0.0
webrtcvad>=2.0.10
https://github.com/Aculeasis/python-webrtc-audio-processing/releases/download/0.1.3/webrtc_audio_processing-0.1.3.tar.gz
